              //================FONTS=============
//   font-family: 'Open Sans', sans-serif; -- > for text
//   font-family: 'Montserrat', sans-serif; -- > for headings
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@mixin font-text{
  font-family: 'Open Sans', sans-serif;
}

@mixin font-heading{
  font-family: 'Montserrat', sans-serif;
}

          //================TEXT SHADOW=============
@mixin text-shadow{
  text-shadow: 1px 1px 1px #000, 0px -1px 1px #333;  
}

@mixin button-view{
            border-bottom: 1px solid rgba(123,122,109,.25);
            border-top: 1px solid rgba(123,122,109,.08) ;
            border-right: 1px solid rgba(123,122,109,.07);
            border-left: 1px solid rgba(123,122,109,.07);
		      	border-radius: 6px;
}

          //================CLEAR FIX=============

@mixin clearfix{
	 &:after{
                content: "";
                display:block;
                clear: both;
              }
}
