              //================FONTS=============
//   font-family: 'OpenSansRegular', sans-serif; -- > for text
//   font-family: 'MontserratRegular', sans-serif; -- > for headings
@mixin font-text{
  font-family: 'OpenSansRegular', sans-serif;
}

@mixin font-heading{
  font-family: 'MontserratRegular', sans-serif;
}

          //================TEXT SHADOW=============
@mixin text-shadow{
  text-shadow: 1px 1px 1px #000, 0px -1px 1px #333;  
}

@mixin button-view{
            border-bottom: 1px solid rgba(123,122,109,.25);
            border-top: 1px solid rgba(123,122,109,.08) ;
            border-right: 1px solid rgba(123,122,109,.07);
            border-left: 1px solid rgba(123,122,109,.07);
		      	border-radius: 6px;
}

          //================CLEAR FIX=============

@mixin clearfix{
	 &:after{
                content: "";
                display:block;
                clear: both;
              }
}
