//  =====   COLORS =====
$content-g-bgcolor: #242729;
$content-w-bgcolor:#E6E3BB;
$bodybg-hover-color:#8E4423;
$text-g-color:#7b7a6d;
$text-w-color:#4f504b;
$text-f-info-color:#725142;
$text-active-color:#e6e3bb;