@import "mixins.scss";
@import "variables.scss";



body {
  @include font-text;
  background-color: $bodybg-hover-color;
  background-image: url(../img/body_bg.jpg);
  background-repeat: repeat;
  padding: 0;
  margin: 0;

  h4 {
    font-style: italic;
  }

  //======  Swiper Slider   ======

  .swiper-container {
    width: 100%;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 323px;
    height: 323px;
  }

  .clear {
    clear: both;
  }

  .container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
  }

  .header {
    @include clearfix;
    background-image: url(../img/header_bg.jpg);
    background-repeat: repeat-x;
    border-radius: 0 0 15px 15px;
    background-color: $content-g-bgcolor;
    padding: 10px 15px;
    height: 54px;
    position: relative;

    @media only screen and (max-width: 992px) {
      border-radius: 0;
    }

    .change {

      .line1 {
        transform: rotate(-45deg) translate(-6px, 8px);
        transition: all .4s ease-in-out;
      }

      .line2 {
        width: 0;
        margin-left: 50%;
      }

      .line3 {
        transform: rotate(45deg) translate(-2px, -5px);
        transition: all .4s ease-in-out;
      }

    }

    label {
      display: none;
      position: absolute;
      right: 2%;
      top: 28px;
      color: #fff;

      @media only screen and (max-width: 992px) {
        display: block;
      }

      .line {
        box-shadow: 1px 1px 9px -4.1px #000;
        transition: all .4s ease-in-out;
        display: block;
        height: 3px;
        width: 27px;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 2px;
      }


    }


    .hmenu {
      clear: both;
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 74px;
      z-index: 12;
      overflow: hidden;

      input {
        display: none;
      }


      input:checked~.hmenu-list {
        max-height: 400px;
        transition: all 1s ease-out;

      }


      ul {
        transition: all .7s ease-out;
        max-height: 0;
        background-color: rgba(57, 59, 61, .53);
        margin: 0;

        .menu__droph {
          position: relative;
          transition: height .7s ease-out;

          &:hover .menu__droph-downh {
            display: block;

          }

          &:hover {
            height: 166px;
            background-color: rgba(57, 59, 61, .63);
            transition: height .7s ease-out;

          }

          &-downh {
            position: relative;
            display: none;
            width: 100%;
            margin-left: -25px;

            li {
              display: block;
              width: 100%;
              padding-left: 30px;


              &:hover {
                background-color: rgba(199, 199, 199, 0.83) !important;
                padding-left: 25px;
              }

              a {
                color: #fff;
              }
            }
          }

        }

        li {
          border-left: none !important;
          display: block;

          &:hover {
            transition: all .5s ease-in-out;
            background-color: rgba(57, 59, 61, .83);


          }

          a {
            display: block;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }


    &-logo {
      float: left;

      h1 {
        @include text-shadow;
        @include font-heading;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        color: #fff;
        padding: 10px 20px 0 0;
      }
    }

    &-nav {
      float: left;

      @media only screen and (max-width: 992px) {
        display: none;
      }

      .menu__drop {
        position: relative;

        &:hover .menu__drop-down {
          top: 100%;
          transition: opacity .6s;
          -o-transition: opacity .6s;
          -webkit-transition: opacity .6s;
          -moz-transition: opacity .6s;
          opacity: 1;

        }

        &-down {
          background-color: rgba(36, 39, 41, .8);
          position: absolute;
          top: -9999em;
          left: 0;
          padding: 10px 25px;
          width: 200px;
          border-radius: 6px;
          opacity: 0;
          box-shadow: 1px -1px 9px -2.1px #000;
          z-index: 10;



          li:first-child {
            border-top: none;
          }

          li:last-child {
            border-bottom: none;
          }

          li {
            border-left: none !important;
            border-bottom: 1px solid #000;
            border-top: 1px solid $text-g-color;
            display: block !important;
            padding: 5px 0;

            a {
              color: $text-g-color !important;
              transition: all .3s ease-in-out;

              &:hover {
                color: $bodybg-hover-color !important;
                transition: all .3s ease-in-out;
                padding-left: 10px;
              }
            }

          }

          li {
            display: block !important;
          }

        }
      }


      ul {
        padding: 0;

        li:nth-child(1) {
          border-left: 1px solid #fff;

        }

        li {
          display: inline;
          padding: 10px 0 10px 25px;
          position: relative;

          a {
            font-size: 0.875em;
            text-decoration: none;
            color: #fff;

            &:visited {
              color: $bodybg-hover-color;
            }

            &:hover {
              color: $bodybg-hover-color;
              transition: all .4s;
              -webkit-transition: all .4s;
              -o-transition: all .4s;
              -moztransition: all .4s;

            }

          }
        }
      }
    }

    &-form {
      float: right;
      margin-top: 11px;

      @media only screen and (max-width: 992px) {
        float: left;
      }

      a {
        @include button-view;
        font-size: 0.875em;
        display: inline-block;
        padding: 5px 8px;
        margin-right: 10px;
        color: $text-g-color;
        background-color: $content-g-bgcolor;
        text-decoration: none;
        box-shadow: 1px 1px 9px -4.1px #000;

        &:hover {
          background-color: lighten($content-g-bgcolor, .5%);
          color: lighten($text-g-color, 20%);
          transition: all .4s;
          -webkit-transition: all .4s;
          -o-transition: all .4s;
          -moztransition: all .4s;

        }

        span {
          color: $bodybg-hover-color;
        }
      }

      button {
        font-size: 0.875em;
        padding: 5px 8px;
        border-radius: 6px;
        background-image: url(../img/sign-b_bg.jpg);
        background-repeat: repeat-x;
        background-color: $bodybg-hover-color;
        color: $text-active-color;
        border-top: 1px solid rgba(123, 122, 109, .35);
        border-bottom: 1px solid rgba(123, 122, 109, .08);
        border-right: 1px solid rgba(123, 122, 109, .07);
        border-left: 1px solid rgba(123, 122, 109, .07);
        box-shadow: 1px 1px 9px -4.1px #000;
        cursor: pointer;

        &:hover {
          color: lighten($text-active-color, 20%);
          transition: all .4s;
          -webkit-transition: all .4s;
          -o-transition: all .4s;
          -moztransition: all .4s;
        }


      }

    }
  }


  .video-block {
    padding-top: 15px;
    height: 360px;
  }

  .about-page-heading {
    height: 170px;

    h1:nth-child(2) {
      margin-top: 5px;
    }

    h1 {
      @include font-heading;
      @include text-shadow;
      margin-bottom: 5px;
      color: #fff;
      font-style: italic;
      text-align: center;
    }
  }

  .wrapper {
    border-radius: 6px;
    background-color: $content-g-bgcolor;
    box-shadow: 1px 1px 9px -4.1px #000;


    &-header {
      @include clearfix;
      border-top: 1px solid rgba(123, 122, 109, .8);
      border-radius: 6px 6px 0 0;
      position: relative;
      padding: 30px 15px 10px 15px;
      margin-bottom: 80px;

      &__diraction {
        padding-bottom: 5px;
        padding-left: 2px;
        margin-top: -20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #393A3E;

        span {
          color: #7b7a6d;
        }

        a {
          font-size: .8125em;
          color: #7b7a6d;
          text-decoration: none;

          &:visited {
            color: #8E4423;
          }
        }
      }

      &-title {
        position: absolute;
        top: -33.4px;
        left: 41.4%;
        padding: 5px 10px;
        background-color: $content-g-bgcolor;
        border-radius: 6px 6px 0 0;
        border-top: 1px solid rgba(123, 122, 109, .8);
        border-right: 1px solid rgba(123, 122, 109, .8);
        border-left: 1px solid rgba(123, 122, 109, .8);

        a {
          @include font-heading;
          text-decoration: none;
          text-shadow: 0px 1px 2px #000;
          padding: 0 10px;
          color: #fff;

          &:hover {
            color: $bodybg-hover-color;
            transition: all .4s;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            -moztransition: all .4s;
          }
        }

        i {
          color: #AC5F17;
          font-size: 1.3em;
          text-shadow: 0px 0px 1px #000;
        }
      }

      &-images {
        @include clearfix;
        width: 45%;
        display: inline-block;
        padding-top: 20px;
        float: left;
        margin: 0;

        img:first-child {
          margin-left: 0;
        }

        img {
          width: 28%;
          margin-left: 2%;
          float: left;
          border: 4px solid $bodybg-hover-color;
          box-shadow: 2px 5px 8px 1px #000;

          &:hover {
            box-shadow: none;
            border: 4px solid darken($bodybg-hover-color, 10%);
            transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
          }
        }
      }

      &-description {
        @include clearfix;
        width: 53%;
        float: right;
        margin-bottom: 15px;

        i {
          color: #fff;
          font-size: 4em;
          display: block;
          float: left;
        }

        h1 {
          @include text-shadow;
          @include font-heading;
          color: $bodybg-hover-color;
          font-size: 1.125em;
          color: #8E4423;
          display: inline-block;
          margin: 12px 0 0 10px;
        }

        h4 {
          @include font-heading;
          font-size: 0.75em;
          display: block;
          margin: 0 0 0 65px;
          font-style: italic;
          color: #646363;
        }

        p {
          font-size: 0.8125em;
          color: $text-g-color;
          text-align: left;
          margin-top: 20px;
        }
      }

      &-line {
        clear: both;
        height: 1px;
        background-color: #393B3D;

        margin-top: 30px;

      }
    }

    .rough-line {
      width: 100%;
      height: 16px;
      position: relative;
      background-image: url(../img/rghLinepatt.jpg);
      background-repeat: repeat-x;
      background-color: #8D4323;
      border-bottom: 1px solid #fff;

      img {
        position: relative;
      }

      img:nth-child(1) {
        top: 5px;
        left: 34%;
      }

      img:nth-child(2) {
        top: 5px;
        left: 62%;
      }
    }

    &-steps {
      @include clearfix;
      padding: 20px 40px;
      background-color: $content-w-bgcolor;

      &__content {
        position: relative;
        width: 30%;
        float: left;
        margin-left: 5%;
        text-align: center;

        img {
          position: absolute;
          top: -95px;
          left: 28%;
        }

        h1 {
          font-size: 1.325em;
          color: $bodybg-hover-color;
          font-weight: normal;
          font-style: italic;
          margin-top: 25px;
          text-transform: uppercase;
        }

        p {
          color: $text-g-color;
          font-size: .7125em;
          margin-bottom: 20px;
        }

        a {
          @include button-view;
          display: inline-block;
          padding: 5px 15px;
          background-color: $content-g-bgcolor;
          color: #fff;
          text-decoration: none;
          font-size: .7125em;
          box-shadow: 1px 1px 9px -4.1px #000;

          &:hover {
            color: $bodybg-hover-color;
            transition: all .4s;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            -moz-transition: all .4s;
          }

        }
      }

      &__content:first-child {
        margin-left: 0;
      }
    }

    &-tab {
      @include clearfix;
      padding: 60px 40px 20px 40px;
      background-color: $content-w-bgcolor;

      &__tabs {
        @media only screen and (max-width: 992px) {
          border-radius: 0 6px 6px 6px;
          padding-left: 0;

          .fhandle {
            margin-left: -1px;
          }
        }

        @include clearfix;
        border-top: 1px solid rgba(0, 0, 0, 0.966);
        border-left: 1px solid rgba(123, 122, 109, .07);
        border-right: 1px solid rgba(123, 122, 109, .07);
        border-radius: 6px;
        background-color: $content-g-bgcolor;
        position: relative;
        padding-left: 33%;
        height:200px;
        box-shadow: 1px 1px 9px -2.1px #000;

        .fhandle {
          margin-top: -27px;
          @include clearfix;
        }

        li {
          float: left;
          list-style-type: none;

          label {
            border-radius: 6px 6px 0 0;
            padding: 5px 20px;
            border-left: 1px solid rgba(123, 122, 109, .07);
            border-right: 1px solid rgba(123, 122, 109, .07);
            border-bottom: 1px solid #525252;
            cursor: pointer;
            background-color: $content-g-bgcolor;
            font-size: 0.75em;
            color: #5b5b5b;
          }

          input:checked+label {
            @include text-shadow;
            background-color: $content-g-bgcolor;
            color: $text-active-color;
            border-bottom: 1px solid rgba(123, 122, 109, .07);
            font-size: 0.75em;
            background-image: url(../img/tab-button_bg.png);
            background-repeat: repeat-x;
          }

          input:checked~.wrapper-tab__tabs_con {
            @include clearfix;
            display: block;
            width: 86%;
            margin-left: 7%;
            margin-top: 10px;

            a {
              text-decoration: none;
            }


          }

          input {
            display: none;
          }
        }

        &_con {
          display: none;
          position: absolute;
          width: 100%;
          left: 0;
          padding-top: 30px;

          a:hover i {
            color: #fff;
            transition: all .5s ease-in-out;
          }

          a:hover p {
            color: #fff;
            transition: all .5s ease-in-out;

          }

          .m0 {
            margin-left: 0;
          }

          &-features {
            @include clearfix;
            float: left;
            width: 30%;
            margin-left: 5%;

            i {
              color: $bodybg-hover-color;
              display: block;
              float: left;
              font-size: 2.5em;
              margin-right: 15px;
            }

            h1 {
              @include font-heading;
              display: inline-block;
              margin: 0;
              font-size: 1.125em;
              color: $bodybg-hover-color;
            }

            h4 {
              font-size: 0.55em;
              display: block;
              margin: 0;
              color: #646363;
            }

            p {
              font-size: 0.875em;
              color: $text-g-color;
            }
          }
        }
      }
    }

    .smooth-line {
      clear: both;
      height: 10px;
      background-color: #78371B;
      background-image: url(../img/smooth-linebg.jpg);
    }

    &-prefooter {
      @include clearfix;
      padding: 20px 40px;

      &__textbox {
        float: left;
        width: 46%;
        margin-right: 2%;
        position: relative;
        padding-right: 5px;
        border-right: 1px solid $bodybg-hover-color;

        img {
          position: absolute;
          right: -2%;
          top: 45%;
        }

        p {
          font-size: 0.7125em;
          color: $text-g-color;
          margin-top: 2px;

        }

        &-text {
          float: left;
          width: 60%;

          h2 {
            @include font-heading;
            @include text-shadow;
            font-style: italic;
            color: $bodybg-hover-color;
            font-size: 1.125em;
            font-weight: bold;
            margin-bottom: 0;

            span {
              font-weight: normal;
              text-shadow: none;
            }
          }
        }

        &-box {
          box-shadow: 1px 1px 9px -2.1px #000;
          border-bottom: 1px solid rgba(123, 122, 109, .25);
          border-top: 1px solid rgba(123, 122, 109, .08);
          border-right: 1px solid rgba(123, 122, 109, .07);
          border-left: 1px solid rgba(123, 122, 109, .07);
          border: 4px solid $bodybg-hover-color;
          float: left;
          width: 31%;
          height: 90px;
          margin: 20px 10px 10px 10px;
        }

      }

      &__newsletter {
        float: left;
        width: 50%;
        height: 200px;

        h2 {
          @include font-heading;
          @include text-shadow;
          font-style: italic;
          color: $bodybg-hover-color;
          font-size: 1.125em;
          font-weight: bold;
          margin-bottom: 0;

          span {
            font-weight: normal;
            text-shadow: none;
          }
        }

        p {
          @include button-view;
          display: inline-block;
          padding: 5px 0 5px 5px;

          a:first-child {
            text-decoration: none;
            font-style: italic;
            color: #757468;
            font-size: 0.875em;

            &:hover {
              transition: all .5s ease-in-out;
              color: lighten(#757468, 10%);

            }
          }

          a:last-child {
            @include font-heading;
            @include text-shadow;
            padding: 7.5px 5px 6px 5px;
            color: #fff;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
            font-style: italic;
            background-color: #482B1F;
            background-image: url(../img/newsletterSignup.jpg);
            background-repeat: repeat-x;

            &:hover {
              text-shadow: none;
              transition: all .5s ease-in-out;
            }
          }
        }

        &-twit {
          @include button-view;
          display: inline-block;
          width: 10%;
          margin-right: 5%;
          margin-right: 1%;
          padding: 5px 15px;
          text-align: center;

          i {
            color: #fff;
            font-size: 2.4em;

          }

          a {
            @include text-shadow;
            color: #fff;
            ;
            padding: 4px 34% 6px 27.8%;
            margin-left: -15px;
            color: #fff;
            box-sizing: border-box;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
            font-style: italic;
            background-color: #482B1F;
            background-image: url(../img/newsletterSignup.jpg);
            background-repeat: repeat-x;

            &:hover {
              text-shadow: none;
              transition: all .5s ease-in-out;
            }
          }
        }

        &-check {
          @include button-view;
          display: inline-block;
          position: relative;
          width: 80%;
          padding: 17px 0 5px 0;

          img {
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: .5;
            width: 21px;
            height: 21px;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
              opacity: 1;
              transition: opacity .3s ease-in-out;
            }
          }

          p {
            color: #6f6f64;
            font-size: .71em;
            border: none;
            margin: 0;
          }

          a {
            text-decoration: none;
            font-size: .71em;
            color: #fff;
            font-style: italic;

            &:hover {
              color: #6f6f64;
              transition: all .3s ease-in-out;
            }

            span {
              color: #6f6f64;
            }

          }

        }

      }

    }

    .rough-line_blue {
      width: 100%;
      height: 4px;
      background-image: url(../img/rough-blue-linebg.jpg);
      background-repeat: repeat-x;
      position: relative;

      img {
        position: absolute;
      }

      img:nth-child(1) {
        top: -10.4px;
        left: 34%;
      }

      img:nth-child(2) {
        top: -10px;
        left: 62%;
      }
    }

    &-footer {
      @include clearfix;
      padding: 20px 40px 40px 40px;
      background-color: #E6E3BB;

      ul {
        margin: 0;
        padding: 0;

        li {
          text-align: center;
          list-style-type: none;
          padding-bottom: 5px;

          a {
            text-decoration: none;
            font-size: .875em;
            color: #4f504b;

            &:hover {
              letter-spacing: 1px;
              color: $bodybg-hover-color;
              transition: all .4s ease-out;
            }
          }
        }
      }

      h1 {
        @include font-heading;
        text-shadow: 0px -1px 1px rgb(231, 231, 231);
        font-size: 1.425em;
        color: #8E4423;
        text-align: center;
        font-size: 1.225em;
        font-weight: normal;
        border-bottom: 1px solid #7B7A6D;
        margin-bottom: 10px;

      }

      &__flickr {
        float: left;
        width: 36%;
        margin-right: 3%;

        h1 {
          text-align: left;
        }

        &-block {
          float: left;
          border: 4px solid #8E4423;
          width: 20%;
          margin-right: 2%;
          height: 50px;
          background-color: #242729;
          margin-bottom: 2%;

          &:hover {
            box-shadow: 1px 1px 9px 1px #000;
            transition: all .3s ease-in-out;
          }
        }

        .blockm {
          margin-right: 0;
        }
      }

      &__clients {
        float: left;
        width: 21%;
        margin-right: 3%;

        img {
          width: 100%;
          margin: 0;
          padding: 0;
          opacity: 1;

          &:hover {
            opacity: .6;
            transition: opacity .4s ease-in-out;
          }
        }
      }

      &__friends {
        float: left;
        width: 21%;
        margin-right: 3%;

      }

      &__pages {
        float: left;
        width: 10%;
      }
    }

    &-lfooter {
      @include clearfix;
      box-shadow: 1px 1px 9px -4.1px #000;
      border-radius: 0 0 6px 6px;
      background-color: #242729;
      padding: 5px 10px;
      margin-bottom: 30px;

      span {
        color: #725142;
        font-size: .75em;
      }

      a {
        color: #725142;
        font-size: .75em;
        text-decoration: none;

        &:hover {
          color: $bodybg-hover-color;
          transition: all .4s ease-in-out;
        }
      }

      &__copyright {
        float: left;

        a {
          margin-top: 21px;
          display: inline-block;
        }
      }

      &__faq {
        float: right;

        li {
          display: inline-block;

          span {
            margin-right: 5px;
            margin-left: 5px;
          }
        }
      }
    }

  }

  ////////================================== ABOUT PAGE ==================================////////

  .wrapper {
    &-header__articleA {
      padding-top: 0;

      &-mission {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-bottom: 20px;

        i {
          color: #fff;
          padding-top: 3px;
          margin-right: 15px;
          font-size: 2.2em;
        }

        h1 {
          font-size: 2.1em;
        }

        h4 {
          margin-left: 51px;
          font-style: italic;
        }

        p {
          font-size: 1em;
          margin-bottom: 20px;
          font-style: italic;
        }

        a {
          @include button-view;
          @include text-shadow;
          color: #e6e3bb;
          text-decoration: none;
          border-radius: 6px;
          text-decoration: none;
          padding: 5px 10px;
          background-image: url(../img/readmore.jpg);
          background-repeat: repeat-x;
          background-color: #843E20;
          display: inline-block;
          margin-top: 10px;

          &:hover {
            color: lighten(#e6e3bb, 15%);
            transition: all .4s ease-in-out;
          }
        }
      }
    }

    &-header-description {
      &__video {
        width: 98%;
        height: 200px;
        border: 4px solid #843E20;
        clear: both;
      }

      i {
        font-size: 2em;
        margin: 12px 0 0 0;
      }

      h4 {
        margin-left: 45px;
      }

      p {
        font-size: .725em;
        font-style: italic;
      }
    }

    &-header-comments {
      clear: both;
      width: 100%;
      border-top: 1px solid #cccccc45;
      padding-top: 20px;

      &__gizmodo:nth-child(4) {
        margin-right: 0;
      }

      &__gizmodo {
        float: left;
        width: 22%;
        margin-right: 4%;

        a {
          text-decoration: none;

          &:hover i {
            color: #8E4423;
            transition: all .5s ease-in-out;
          }

          &:hover p {
            color: #fff;
            transition: all .5s ease-in-out;
          }
        }

        &-block {
          float: none;
          width: 100%;
          margin: 0;

          i {
            color: #fff;
            font-size: 1.8125em;
            margin-right: 8px;
          }

          h1 {
            font-size: 1em;
          }

          p {
            font-size: .7em;
          }
        }

      }

    }

    &-header-lineA {
      background-color: #000;
    }

    .mr0 {
      margin-right: 0;
    }

    &-tab__tabs_con-micro {
      width: 40%;
      margin-right: 10%;

      a:hover p {
        color: #fff;
        transition: all .4s ease-in-out;
      }

      i {
        color: #fff;
        margin-top: 5px;
        font-size: 1.7em;
      }

      h4 {
        font-size: .75em;
        font-weight: normal;
        font-style: italic;
      }

      p {
        font-style: italic;

        span:nth-child(1) {
          margin-right: 5px;
        }

        span:nth-child(2) {
          margin-left: 6px;
        }

        span {
          color: #8E4423;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }

  ////////================================== WORK PAGE ==================================////////
  .wrapper {
    &-header_w {
      margin-bottom: 0;
    }

    &-tabBlock {
      height: 500px;
      padding: 10px 40px 40px 40px;

      &__buttons {
        display: inline-block;
        margin-left: 32%;
        border-radius: 6px;
        border-bottom: 1px solid #383C3E;
        background-color: #242629;
        background-image: url(../img/tabBg.jpg);
        background-repeat: repeat-x;
        padding-top: 1px;
        margin-bottom: 30px;

        @media only screen and(max-width: 992px) {
          margin-left: 0;
        }


        .tab {
          text-align-last: center;
          display: inline-block;
          color: #7b7a6d;
          width: 100px;
          border: 0;
          box-sizing: border-box;
          padding: 7px 0;
          background-color: transparent;
          cursor: pointer;
          color: #7b7a6d;
        }
      }

      .active {
        background-image: url(../img/tabButtonbg.jpg);
        background-repeat: repeat-x;
        border-left: 1px solid rgba(14, 15, 15, .2);
        border-right: 1px solid rgba(14, 15, 15, .2);
        color: #e6e3bb;
      }

      .active:nth-child(1) {
        border-radius: 6px 0 0 6px;
      }

      .active:nth-child(3) {
        border-radius: 0 6px 6px 0;
      }

      &__tabcontents {
        .tab_item {
          width: 100%;
          color: #ffffff;

          &-blocks:nth-child(2n) {
            margin-right: 0;

            h1 {
              margin-left: 26px;
            }

            h4 {
              margin-left: 28px;
            }
          }

          &-blocks {
            float: left;
            width: 45%;
            margin-right: 5%;
            margin-bottom: 30px;

            @media only screen and (max-width: 992px) {
              width: 100%;
            }

            a {
              text-decoration: none;

              &:hover p {
                color: #fff;
                transition: all .4s ease-in-out;
              }

              &:hover h1 {
                color: #fff;
                transition: all .4s ease-in-out;
              }
            }

            &_video {
              width: 100%;
              height: 150px;
              border: 4px solid #843E20;
              margin-bottom: 30px;
              box-sizing: border-box;
            }

            i {
              color: #fff;
              font-size: 2.125em;
              margin-right: 8px;
            }

            h1 {
              @include font-heading;
              margin-top: -36px;
              margin-left: 50px;
              display: block;
              font-size: 1.325em;
              color: #8E4423;
              transition: all .4s ease-in-out;
            }

            h4 {
              font-size: 0.55em;
              display: block;
              margin: -15px 0px 20px 49px;
              color: #646363;
            }

            p {
              font-size: .75em;
              color: #7b7a6d;
              margin-top: 2px;
              line-height: 1.4;
              margin-bottom: 4px;
              transition: all .4s ease-in-out;
            }
          }

          &-paginagtion {
            height: 60px;
            width: 100%;
            float: left;
            text-align: center;
            margin-bottom: 15px;

            a {
              text-decoration: none;
              color: #8e4423;
            }

            a:nth-child(2) {
              color: #fff;
            }

            img {
              margin: 8px;
              margin-bottom: -12px;
            }
          }
        }
      }
    }
  }

  ////////================================== WORK PAGE ITEM ==================================////////
  .wrapper {
    .wrapper-content {
      padding: 0 0 40px 40px;

      &__krilli {
        outline: 1px solid red;
        width: 80%;
        float: left;
        height: 300px;
        padding-right: 40px;
      }

      &__wpi {
        width: 20%;
        outline: 1px solid yellow;
        float: left;
        height: 300px;
        padding: 0 5px;
      }
    }
  }


  ////////================================== CONTACT PAGE ==================================////////
  .wrapper {
    &-headerC {
      margin-bottom: 0;

      &__diractionC {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }
    }

    &-header-gmap {
      padding: 0;
      width: 100%;
      background: #242729;

      iframe {
        width: 100%;
        border: 0;
        height: 400px;
      }
    }

    &-header-comments__gizmodoC {
      margin-right: 0;
      width: 25%;

      @media only screen and (max-width: 720px) {
        width: 50%;
      }
    }

    &-headerC-contact {
      @media only screen and (max-width: 992px) {
        li {
          font-size: .65em !important;
        }
      }

      @media only screen and (max-width: 720px) {
        h1 {
          font-size: 1.5em;
        }

        h4 {
          font-size: .8125em;
        }

        li {
          font-size: 1.1em !important;
        }
      }

      h1 {
        color: #8E4423;
      }

      ul {
        padding: 0;

        li {
          list-style-type: none;
          color: #7b7a6d;
          font-size: .825em;

          a {
            text-decoration: none;
            color: #8E4423;

            &:hover {
              transition: all .4s ease-in-out;
              color: #7b7a6d;
            }
          }
        }
      }
    }

    .pr {
      padding-left: 40px;
      padding-right: 40px;
      border: 0;
    }

    .rough-lineC {
      height: 18px;
      background-image: url(../img/rglinePattC.jpg);
      background-repeat: repeat-x;
      position: relative;

      img:nth-child(1) {
        position: absolute;
        left: 34%;
        top: 7px;
      }

      img:nth-child(2) {
        position: absolute;
        left: 62%;
        top: 7px;
      }
    }

    &-form-block {
      @include clearfix;
      background-color: #2C2E2F;
      height: 400px;
      padding: 40px 40px 60px 40px;

      @media only screen and (max-width: 830px) {
        padding: 40px 40px 80px 40px;
      }

      @media only screen and (max-width:720px) {
        padding-bottom: 150px;
      }

      @media only screen and (max-width:540px) {
        padding-bottom: 440px;

        &__thanks,
        &__speak {
          float: none !important;
          width: 100% !important;
        }
      }

      @media only screen and (max-width:440px) {
        padding-bottom: 500px;
      }

      @media only screen and (max-width:408px) {
        padding-bottom: 530px;
      }

      &__thanks {
        float: left;
        width: 48%;
        padding: 0 2% 0 0;

        &-video {
          width: 100%;
          height: 150px;
          border: 4px solid #843E20;
          margin-bottom: 20px;
        }

        a {
          display: block;
          text-decoration: none;

          &:hover h1 {
            transition: all .4s ease-in-out;
            color: #7b7a6d;
          }
        }

        i {
          color: #fff;
          font-size: 2.125em;
          margin-right: 8px;
        }

        h1 {
          @include font-heading;
          margin-top: -36px;
          margin-left: 50px;
          display: block;
          font-size: 1.425em;
          color: #8E4423;
          transition: all .4s ease-in-out;

        }

        h4 {
          font-size: 0.55em;
          display: block;
          margin: -15px 0px 20px 49px;
          color: #646363;
        }

        p {
          font-size: .85em;
          color: #7b7a6d;
          margin-top: 2px;
          line-height: 1.4;
          margin-bottom: 4px;
        }

        h2 {
          @include font-heading;
          color: #fff;
          font-style: italic;
          text-align: center;
          margin-bottom: 5px;
          font-weight: normal;
          font-size: 2em;
        }

        h5 {
          color: #7b7a6d;
          font-style: italic;
          text-align: center;
          margin: 0;
        }
      }

      &__speak {
        float: left;
        width: 48%;
        padding: 0 0 0 2%;

        h1 {
          color: #fff;
          font-style: italic;
          margin-bottom: 15px;
          font-weight: normal;
        }

        p {
          font-size: .85em;
          color: #7b7a6d;
          margin-top: 2px;
          line-height: 1.4;
          padding-bottom: 20px;
          border-bottom: 1px solid #0D0D0E;
          margin-bottom: 0;
        }

        form {
          border-top: 1px solid #41403A;
          padding-top: 20px;

          input:nth-child(1),
          textarea {
            padding: 10px;
            color: #7b7a6d;
            background-color: #2C2E2F;
            border: 1px solid #636465;
            box-shadow: 0px 0px 6px 2px #000000a6 inset;
            border-radius: 6px;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
          }

          input:nth-child(3) {
            @include text-shadow;
            padding: 5px 25px;
            color: #e6e3bb;
            background-image: url(../img/submitbg.jpg);
            background-repeat: repeat-x;
            border-radius: 6px;
            border: 0;
            box-shadow: 1px 1px 9px -4.1px #000;
            float: right;
            transition: all .4s ease-in-out;
            cursor: pointer;

            &:hover {
              color: darken(#e6e3bb, 10%);
              transition: all .3s ease-in-out;
              box-shadow: 1px 1px 9px -3.1px #000;
            }

            textarea:focus {
              border: 0 !important;
            }
          }

          textarea {
            max-width: 100%;
            min-width: 100%;
            max-height: 100px;
            min-height: 100px;
            margin-bottom: 20px;

          }

          input:focus {}
        }
      }
    }

  }



  @media only screen and (max-width: 992px) {
    .wrapper-tab__tabs_con-features {
      width: 100%;
      float: none;
      margin-left: 0;
      margin-bottom: 25px;
    }

    .wrapper-tab__tabs {
      height: 365px;
      text-decoration: none !important;
    }

    .wrapper-prefooter__textbox-text {
      width: 58%;
    }

    .wrapper-prefooter__newsletter-check {
      width: 74%;
      padding: 3px 0 5px 0;
    }

    .wrapper-prefooter__newsletter-twit a {
      padding: 4px 7px 6px 8px;
    }

    .wrapper-prefooter__newsletter-twit {
      width: 31px;
    }

    .wrapper-footer__flickr-block {
      width: 19%;
      height: 45px;
    }

    ////////================================== ABOUT PAGE ==================================////////
    .wrapper-tab__tabs_con-micro {
      width: 100% !important;
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 720px) {
    .wrapper {
      border-radius: 0;
    }

    .wrapper-header {
      margin-bottom: 40px;
      border-radius: 0;
    }

    .wrapper-header-images {
      float: none;
      width: 80%;
      margin-left: 13%;
      margin-bottom: 20px;
    }

    .wrapper-header-description {
      float: none;
      width: 100%;
    }

    body .wrapper-header-description p {
      text-align: center;
    }

    .wrapper-steps__content img {
      position: relative;
      top: 0;
      left: 0;
    }

    .wrapper-steps__content h1 {
      margin-top: 8px;
    }

    .wrapper-prefooter__textbox {
      float: none;
      width: 100%;
      margin-right: 0;
      border-right: 0;

      img {
        display: none;
      }
    }

    .wrapper-prefooter__newsletter {
      float: none;
      width: 100%;
    }

    .fixSm {
      width: 100%;
      text-align: right;
    }

    .wrapper-prefooter__newsletter h2 {
      text-align: center;
    }

    .wrapper .rough-line_blue {
      display: none;
    }

    .wrapper-footer__flickr {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    .wrapper-footer__clients {
      width: 100%;
      float: none;
      margin-right: 0;
    }

    .wrapper-footer__friends {
      width: 47%;
      margin-right: 3%;
    }

    .wrapper-footer__pages {
      width: 50%;
    }

    .wrapper-header-title {
      left: 0;
      border-left: 0;
      border-bottom: 0;
      top: -33.212px;
    }

    ////////================================== ABOUT PAGE ==================================////////
    .wrapper-header__articleA {
      margin-left: 0 !important;
      width: 100%;
    }
  }

  @media only screen and (max-width: 540px) {
    .header {
      height: auto;
      background-image: none;
    }

    .header-form {
      float: right;
      clear: both
    }

    .header .hmenu {
      top: 108px;
    }

    .wrapper-steps__content {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 30px;
    }

    .wrapper-tab__tabs li label {
      padding: 5px;
    }

    .wrapper-tab__tabs {
      height: 410px;
      margin-right: 0;
    }

    .wrapper-lfooter__copyright {
      float: none;
      text-align: center;
    }

    .wrapper-lfooter__faq {
      float: none;
      text-align: center;

      ul {
        padding: 0;
      }
    }

    ////////================================== ABOUT PAGE ==================================////////
    .wrapper-header-comments__gizmodo {
      float: none !important;
      width: 100% !important;
      margin-right: 0 !important;
    }

  }





}
